<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/css/buttons.css}">
    <link rel="stylesheet" th:href="@{/css/memberDetail.css}">
    <link rel="stylesheet" th:href="@{/css/memberList.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <!--    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
</head>
<body>
<div th:replace="/component/header :: header"></div>


<div id="container">
    <table class="table table-light">
        <thead>
        <tr>
            <th>가입번호</th>
            <th>이메일</th>
            <th>이름</th>
            <th>전화번호</th>
            <th>조회</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="member : ${memberList}">
            <td th:text="${member.id}"></td>
            <td><a th:href="@{|/member/${member.id}|}"
                   th:text="${member.memberEmail}"></a></td>
            <td th:text="${member.memberName}"></td>
            <td th:text="${member.memberMobile}"></td>
            <td><button th:onclick="member_detail([[${member.id}]])">조회</button></td>
        </tr>
        </tbody>
    </table>
</div>
<div id="detailArea">
</div>
<div th:replace="component/footer :: footer"></div>
</body>
<script th:inline="javascript">
    const member_detail = (id) => {
        const detailArea = document.getElementById("detailArea");
        axios.get("/member/axios/" + id)

            .then(res => {
                console.log("member",res.data)
                let result = "<table class=\"table table-striped\">\n" +
                    "<tr>\n" +
                    "<th>가입번호</th>\n" +
                    "<td>" + res.data.id + "</td>\n" +
                    "</tr>\n" +
                    "<tr>\n" +
                    "<th>아이디(이메일)</th>\n" +
                    "<td>" + res.data.memberEmail + "</td>\n" +
                    "</tr>\n" +
                    "<tr>\n" +
                    "<th>비밀번호</th>\n" +
                    "<td>" + res.data.memberPassword + "</td>\n" +
                    "</tr>\n" +
                    "<tr>\n" +
                    "<th>이름</th>\n" +
                    "<td>" + res.data.memberName + "</td>\n" +
                    "</tr>\n" +
                    "<tr>\n" +
                    "<th>탄생일</th>\n" +
                    "<td>" + res.data.memberBirth + "</td>\n" +
                    "</tr>\n" +
                    "<tr>\n" +
                    "<th>전화번호</th>\n" +
                    "<td>" + res.data.memberMobile + "</td>\n" +
                    "</tr>\n";

                if (res.data.memberProfile === 1) {
                    result += "<tr>\n" +
                        "<th>프로필 사진</th>\n" +
                        "<td>\n";

                    res.data.memberProfile.forEach(file => {
                        const imageUrl = URL.createObjectURL(file)
                        result += "<img src=\"/upload/**" + imageUrl + "\" width=\"200\" height=\"200\">\n";
                    });

                    result += "</td>\n" +
                        "</tr>\n";
                }

                result += "</table>";
                detailArea.innerHTML = result;
            })
            .catch(error => {
                console.error(error);
            });
    }
</script>
</html>
