<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block th:replace="component/config :: config"></th:block>
</head>
<body>
<div th:replace="component/header :: header"></div>
<div th:replace="component/nav :: nav"></div>
<div id="section">
  <div id="saveForm">
    <form action="/board/save" method="post" enctype="multipart/form-data">
      작성자 : <input type="text" name="boardWriter" id="boardWriter" class="form-control" placeholder="작성자" required>
      제목 : <input type="text" name="boardTitle" id="boardTitle" class="form-control" required>
      <textarea name="boardContents" id="boardContents" cols="30" rows="10" class="form-control"></textarea>

      파일첨부 : <input type="file" name="boardFile" class="form-control" multiple><br>
               <input type="submit" value="글 작성" class="btn btn-outline-primary">
    </form>
  </div>
</div>
<div th:replace="component/footer :: footer"></div>
</body>
</html>