* {
    box-sizing: border-box;
    margin: 0;
}

#header {
    background-color: grey;
    color : white;
    text-align: center;
    padding: 20px;
}

#nav {
    background-color: white;
}

#nav ul {
    list-style-type: none;
    overflow: hidden;
}
#nav ul li {
    float: left;
}

#nav ul li a {
    display: inline-block;
    padding: 15px;
    text-decoration: none;
    color: black;
}

#nav ul li.login-name {
    float: right;
}

#section {
    background-color: #e4e4e4;
    /*padding: 20px;*/
}

#section h2 {
    text-align: center;
}

#section pre {
    text-align: left;
}

#footer {
    background-color: black;
    text-align: center;
    padding: 20px;
    color: white;
}

#saveForm {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* 화면 전체 높이에 대한 비율로 조절 */
}

#section table {
    margin: auto;
    border: 1px solid black;
}

#section table tr,th,td {
    padding: 5px;
    border: 1px solid black;
}

#center-image {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /*height: 100vh; !* 화면 전체 높이에 맞게 조정할 경우 */
}
#center-image img {
    margin: auto;
}

input {
    display: block;
    text-align: left;
}
#nav ul li login-area {
    float: right;
}

#nav #menu search{
    float : right;
}


















